@import "tailwindcss";
@import "@fontsource-variable/inter";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter Variable", sans-serif;
  font-size: 11px;
  margin-top: 2.2em;
  margin-left: 2em;
  margin-right: 2em;
  font-variation-settings: 'wght' 200;
  user-select: none;
}

a {
  cursor: pointer;
}

select {
  -webkit-appearance: none; /* for Chrome, Safari, Opera */
  -moz-appearance: none;    /* for Firefox */
  appearance: none;
}

.rightside {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  text-align: left;
  margin-bottom: 0.5em;
  gap: 1.2em;
  .description {

    user-select: text;
  }
}

.leftside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  margin-top: calc((100vh - 30em) / 2);
}

.switcher {
  .first {
    font-variation-settings: 'wght' 200;
    transition: font-variation-settings 0.2s ease-in-out;
  }
  .second {
    font-variation-settings: 'wght' 500;
    transition: font-variation-settings 0.2s ease-in-out;
  }

  &:hover {
    .first {
      font-variation-settings: 'wght' 500;
    }
    .second {
      font-variation-settings: 'wght' 200;
    }
  }
}

.bolded {
  font-variation-settings: 'wght' 500;
}

.smaller {
  font-variation-settings: 'wght' 100;
  font-size: 10px;
}

.header {
  height: 5em;
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.item-block {
  width: 110.74px;
  height: 16px;
  border: 0.5px solid var(--foreground);
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  background-color: var(--background);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #e0e0e0;
  }
}

.grayed {
  background-color:#ececec;
}

.tag {
  display: flex;
  padding: 0 0.5em;
  margin-right: 1em;
  vertical-align: middle;
  min-width: 5em;
  background-color: #e0e0e0;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  & > :first-child {
    flex-grow: 0;
    width: 0;
    opacity: 0;
    transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
    pointer-events: none;
  }
  & > :last-child {
    flex-grow: 1;
    text-align: center;
  }

  &:hover {
    background-color: #c0c0c0;
    & > :first-child {
      width: 1em;
      opacity: 1;
    }
  }

  
}

.year {
  transition: opacity 0.2s ease-in-out;
}

.media-wrapper {
  position: relative;  
  width: fit-content;
  align-self: center;
  &:hover {
    .play-button {
      opacity: 1;
    }
  }

  img, video {
    width: fit-content;
    height: auto;
    align-self: center;
    max-height: 60vh;
    transition: opacity 0.2s ease-in-out;
  }

}

.play-button {
  opacity: 0;
  position: absolute;  
  inset: 0;            
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  transition: opacity 0.5s ease-in-out;
  user-select: none;

  a {
    color: var(--foreground);
  }
}
